h1 {
	color: #D62828;
	font-size: 70px;
	font-family: "Federo", sans-serif;
}
h2 {
	color: #FCBF49;
	font-size: 25px;
}
body {
	background-color: #EAE2B7;
	font-family: "Nunito Sans", sans-serif;
	color: #003049;
	font-size: 20px;
	
}
#chapo {
	color: orange;
}
.cadre {
	margin: 80px;
	padding: 40px;
	border: 5px solid darkred;
	border-radius: 15px;	
}
#logo {
	width: 50px;
	height: 50px;
}

.flex {
	display: flex;
}
.centre {
	margin: 10px;
	padding: 10px;
}